<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017299625062-nqcpacevhih13fh0ama9isftmde4drcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017299625062-nqcpacevhih13fh0ama9isftmde4drcj</string>
	<key>API_KEY</key>
	<string>AIzaSyDXixxBdrzTOitoIXd-QRMTYZQ64S5wLUw</string>
	<key>GCM_SENDER_ID</key>
	<string>1017299625062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sethmicahking.themingWithFirebaseConfig</string>
	<key>PROJECT_ID</key>
	<string>themingwithremoteconfig</string>
	<key>STORAGE_BUCKET</key>
	<string>themingwithremoteconfig.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017299625062:ios:def575f50241e11a6c79a7</string>
</dict>
</plist>